<!DOCTYPE html>

<html lang="en">
	<head>
		<!--<meta charset="utf-8" />-->
		<title>Diversity!!!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link href="../stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../stylesheets/bootstrap-theme.min.css" rel="stylesheet" media="screen">
		<link href="../stylesheets/main.css" rel="stylesheet" media="screen">

	</head>
	
	<body class="mainpage">
					
		<!-- Content of Page -->
			<!-- Picture Panels SAMPLE SET-UP: NEEDS TO BE CHANGED-->
		<div class="container">
			<div class="row-sm-8">
				<a href="http://transequality.org/" class="btn btn-default" >Make Your Mark</a>
			</div>
		</div>
		<div class="rowHeader">
			<div class="container">
				<div class="row-sm-8">
					<div class="headline">
						<h1>DESTROY BARRIERS</h1> 
					</div>
					<div class="col-sm-4">
						<div class="pic">
							<img src="../images/WilmaRudolph.jpg" alt = "Wilma Rudolph picture" style="width:304px;height:228pk;">
						</div>
					</div>
					<div class="col-sm-8">
						<div class="quote">
							<h3>Never underestimate the power of dreams and the influence of the human spirit. We are all the same in this notion. The potential for greatness lives within each of us.</h3>
							<h3 class="author">- Wilma Rudolph</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Content of Page -->
<div class="menu">
    <div class="row">
        <a href="FearlessPage.html">
            <img src="../images/print1.jpg" width="64" height="64" alt="Fearless">
        </a>
        <a href="transformMindsPage.html">
            <img src="../images/print2.jpg" width="64" height="64" alt="transformMinds">
        </a>
    </div>
    <div class="row">
        <a href="destroyBarriersPage.html">
            <img src="../images/print6.jpg" width="64" height="64" alt="destroyBarriers">
        </a>
        <a href="titlePage.html">
            <img src="../images/diversity2.jpg" width="64" height="64" alt="titlePage">
        </a>
        <a href="newVisionPage.html">
            <img src="../images/print3.jpg" width="64" height="64" alt="newVision">
        </a>
    </div>
    <div class="row">
        <a href="communityPage.html">
            <img src="../images/print5.jpg" width="64" height="64" alt="community">
        </a>
        <a href="volunteer_activities.html">
            <img src="../images/print4.jpg" width="64" height="64" alt="form">
        </a>
    </div>
</div>​
		<!-- Footer -->
		<div class="container" >
			<div class="row">
				<div class="col-sm-4">
					
					
				</div>
				<div class="col-sm-8 hidden-xs" class="form-group">
					
				</div>
			</div>
		</div>
		<!-- End Footer-->
		
		<!-- Javascript and Jquery -->
	<script src="/javascript/jquery-1.11.2.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>	
	</body>
</html>
