<!DOCTYPE html>

<html lang="en">
	<head>
		<!--<meta charset="utf-8" />-->
		<title>Diversity!!!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link href="../stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../stylesheets/bootstrap-theme.min.css" rel="stylesheet" media="screen">
		<link href="../stylesheets/main.css" rel="stylesheet" media="screen">

	</head>
	
	<body class="mainpage" >
					
		<!-- Content of Page -->
			<!-- Picture Panels SAMPLE SET-UP: NEEDS TO BE CHANGED-->
		<div class="rowHeader">
			<div class="container">
				<div class="row-sm-8">
				<div class="headline">
					<h1>EXPLORING DIVERSITY IS AT YOUR FINGERTIPS</h1> 
				</div>	
				</div>
			</div>
		</div>
		<!-- End Content of Page -->
		
		<!-- Footer -->
		<div class="menu">
		    <div class="row">
		        <a href="FearlessPage.html">
		            <img src="../images/print1.jpg" width="192" height="192" alt="Fearless">
		        </a>
		        <a href="transformMindsPage.html">
		            <img src="../images/print2.jpg" width="192" height="192" alt="transformMinds">
		        </a>
		    </div>
		    <div class="row">
		        <a href="destroyBarriersPage.html">
		            <img src="../images/print6.jpg" width="192" height="192" alt="destroyBarriers">
		        </a>
		        <a href="titlePage.html">
		            <img src="../images/diversity2.jpg" width="192" height="192" alt="titlePage">
		        </a>
		        <a href="newVisionPage.html">
		            <img src="../images/print3.jpg" width="192" height="192" alt="newVision">
		        </a>
		    </div>
		    <div class="row">
		        <a href="communityPage.html">
		            <img src="../images/print5.jpg" width="192" height="192" alt="community">
		        </a>
		        <a href="volunteer_activities.html">
		            <img src="../images/print4.jpg" width="192" height="192" alt="form">
		        </a>
		    </div>
		</div>​

		<!-- End Footer-->
		<div class="container" id="fingerprint">
			<div class="row">
				<div class="col-sm-12">
					<h3>Touch a fingerprint to make your mark</h3>
					
				</div>
			</div>
		</div>
		<!-- Javascript and Jquery -->
	<script src="/javascript/jquery-1.11.2.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>	
	</body>
</html>

