<html>

	<head>
		<!--<meta charset="utf-8" />-->
		<title>Diversity!!!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link href="../stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../stylesheets/bootstrap-theme.min.css" rel="stylesheet" media="screen">
		<link href="../stylesheets/main.css" rel="stylesheet" media="screen">

	</head>

	<body class="mainpage">
					
		<!-- Content of Page -->
			<!-- Picture Panels SAMPLE SET-UP: NEEDS TO BE CHANGED-->
		<div class="rowHeader">
			<div class="container">
				<div class="row-sm-8">
					<div class="headline">
						<h1>VOLUNTEER SUBMISSIONS</h1> 
					</div>
				</div>
			</div>
		</div>


		<div class="container">
            <div id="fingerprint">
                <form action="http://10.0.12.78:9000" method="GET"><div>
                    <strong>Please enter your information:</strong>
                    <br>
                    <br>
                    Name:<br>
                    <input type="text" name="Name">
                    <br>
                    <br>
                    Email address:<br>
                    <br>
                    <input type="text" name="Email">
                    <br><br>
                    Please select an activity:<br><br>
                    <select name="task">
                        <option value="None">Select one ...</option>
                        <option value="Animals">Rescue Animals</option>
                        <option value="Youth_Edu">Children & Youth Education</option>
                        <option value="Environment">Environment</option>
                        <option value="Health">Health & Wellness</option>
                        <option value="Schools">Schools</option>
                    </select>
                    <br>
                </div>
                    <div><input type="submit" value="submit"></div>
                    <br>
                    <br>
                </form>
            </div>

		</div>
        <div class="menu">
            <div class="row">
                <a href="FearlessPage.html">
                    <img src="../images/print1.jpg" width="64" height="64" alt="Fearless">
                </a>
                <a href="transformMindsPage.html">
                    <img src="../images/print2.jpg" width="64" height="64" alt="transformMinds">
                </a>
            </div>
            <div class="row">
                <a href="destroyBarriersPage.html">
                    <img src="../images/print6.jpg" width="64" height="64" alt="destroyBarriers">
                </a>
                <a href="titlePage.html">
                    <img src="../images/diversity2.jpg" width="64" height="64" alt="titlePage">
                </a>
                <a href="newVisionPage.html">
                    <img src="../images/print3.jpg" width="64" height="64" alt="newVision">
                </a>
            </div>
            <div class="row">
                <a href="communityPage.html">
                    <img src="../images/print5.jpg" width="64" height="64" alt="community">
                </a>
                <a href=volunteer_activities.html>
                    <img src="../images/print4.jpg" width="64" height="64" alt="form">
                </a>
            </div>
        </div>​
        <!-- Footer -->
        <!-- End Footer-->

        <!-- Javascript and Jquery -->
        <script src="/javascript/jquery-1.11.2.min.js"></script>
        <script src="/javascript/bootstrap.min.js"></script>
    </body>
</html>
